@charset "UTF-8";
@use "./variables";

.footer {
  height: variables.$height-wrapper;
  &Sns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  &Copy {
    margin-top: 16px;
    text-align: center;
  }
}

.fa-brands {
  font-size: 32px;
}
