@use "./nav";
@use "./footer";
@use "./variables";

body {
  background-color: lightblue;
  color: white;
}
// common
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.8;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.wrapper {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding-right: 4%;
  padding-left: 4%;
}

// home
.home {
  width: 80%;
  height: calc(100vh - 2 * $height-wrapper);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &_desc {
    position: relative;
  }
  &_title {
    font-size: 90px;
    font-weight: bold;
  }
  &_info {
    font-size: 29px;
    font-weight: bold;
  }
}
